/* color palette from <https://github.com/vuejs/theme> */
:root {
  --bs-body-bg: #313131!important;
  --bs-body-color: white!important;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* - */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

/* Soleil Font */
@font-face {
  font-family: "Soleil";
  src: url("@/assets/fonts/soleil/SoleilRegular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Soleil";
  src: url("@/assets/fonts/soleil/SoleilLight.otf");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Soleil";
  src: url("@/assets/fonts/soleil/SoleilBold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Soleil";
  src: url("@/assets/fonts/soleil/SoleilBook.otf");
  font-weight: 200;
  font-style: normal;
}